<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/lib.css">
        <link rel="stylesheet" href="/stylesheets/myapp.css">
        <title>Finstagram</title>
    </head>
    <body>
        <%= yield %>
    </body>
</html>